
TP1/.idea/codeStyles/codeStyleConfig.xml
TP1/.idea/codeStyles/Project.xml
TP1/.idea/deploymentTargetDropDown.xml
TP1/.idea/gradle.xml
TP1/.idea/migrations.xml
TP1/.idea/misc.xml
TP1/.idea/gradle.xml
TP1/.idea/gradle.xml
TP1/.idea/misc.xml
TP1/.idea/misc.xml
TP1/.idea/gradle.xml
TP1/.idea/gradle.xml
