<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAfPijRzLHp76uIsYuAGH78R3iv3vnTD4</string>
	<key>GCM_SENDER_ID</key>
	<string>1021416092308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tp2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tp1-amov-2b4bb</string>
	<key>STORAGE_BUCKET</key>
	<string>tp1-amov-2b4bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021416092308:ios:4cb51b9bd957dcba30ba81</string>
</dict>
</plist>